.logo {
  display: block;
  margin: 1.2rem auto; }

.bookingLogo {
  margin-bottom: 4rem; }

.footerLogo {
  display: block;
  margin: 8rem auto 0 auto; }

.bookTableBtnHeader {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  width: 24.5rem;
  margin: 3.2rem auto 0 auto;
  border: 1px solid #ffffff; }

.bookTableBtnSlider {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  width: 24.5rem;
  margin: 3.2rem auto 0 auto;
  background: var(--color-background-codGray);
  order: 4; }

.sliderContainers__sliderBtn {
  cursor: pointer;
  opacity: .5; }

.sliderContainers__sliderBtn.active {
  opacity: 1; }

.btnWrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0rem;
  z-index: 100; }
  .btnWrapper__bookTableBtnReserv {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
    width: 24.5rem;
    margin: 3.2rem auto 0 auto;
    margin-top: 18.4rem;
    background: transparent;
    border: 1px solid #ffffff;
    color: var(--color-text-white); }

.reserveBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6.4rem;
  width: 24.5rem;
  margin: 0 auto 0 auto;
  border: 1px solid #ffffff; }

.topLeftCurveSumm {
  display: none; }

.botRightCurveSumm {
  display: none; }

.topLeftCurveCater {
  display: none; }

.divideLine {
  display: block;
  position: absolute;
  top: 36.5rem;
  margin-left: calc(50% - 40px); }

.hamburgerLinesSumm {
  display: none; }

.hamburgerLinesCater {
  display: none; }

.fullLineBreak {
  display: block;
  margin: 2.4rem auto 2.4rem auto;
  width: 80%;
  height: 1px;
  background: var(--color-background-white);
  opacity: 0.15; }

@media only screen and (min-width: 768px) {
  .hamburgerLinesSumm {
    display: block;
    position: absolute;
    right: -8rem;
    top: 17rem;
    z-index: 1000; }

  .hamburgerLinesCater {
    display: block;
    position: absolute;
    left: -5.5rem;
    bottom: 32rem;
    z-index: 1000; }

  .topLeftCurveSumm {
    display: block;
    position: absolute;
    left: -68.5rem;
    top: 12.25rem;
    border-radius: 0px 100px 0px 0px; }

  .botRightCurveSumm {
    display: block;
    grid-column: full-start / -1;
    position: absolute;
    left: 29.4rem;
    bottom: -11rem;
    border-radius: 100px 0px 0px 0px;
    overflow-x: hidden;
    z-index: -10; }

  .topLeftCurveCater {
    display: block;
    grid-column: full-start / -1;
    position: absolute;
    left: -51rem;
    bottom: 20rem;
    border-radius: 0px 100px 0px 0px;
    overflow-x: hidden;
    z-index: -10; }

  .divideLine {
    margin-left: 0; }

  .btnWrapper__bookTableBtnReserv {
    margin-top: 15rem; } }
@media only screen and (min-width: 1400px) {
  .logo {
    margin: 6.5rem 0 0 16.7rem; }

  .divideLineL {
    top: 20rem;
    left: 65rem; }

  .divideLineR {
    top: 14rem;
    right: 108.75rem; }

  .topLeftCurveSumm {
    left: -25rem;
    top: 25rem; }

  .botRightCurveSumm {
    left: -20rem;
    bottom: -59.5rem;
    border-radius: 100px 0px 0px 0px; }

  .hamburgerLinesSumm {
    top: 21rem; }

  .topLeftCurveCater {
    bottom: 45rem; }

  .hamburgerLinesCater {
    bottom: 56rem; }

  .fullLineBreak {
    margin: 2.4rem auto 2.4rem 0;
    width: 90%; }

  .bookTableBtnHeader {
    margin: 0 0 19.8rem 16.5rem; }

  .bookTableBtnSlider {
    margin: 3.2rem auto 0 0; }

  .btnWrapper {
    width: inherit;
    height: inherit;
    bottom: 10rem;
    left: 105rem; } }
:root {
  --color-background-white: #FFFFFF;
  --color-background-codGray: #111111;
  --color-text-white: #FFFFFF;
  --color-text-ebonyClay: #242B37;
  --color-text-textField: #111111;
  --color-text-error: #B54949;
  --color-text-dropDown: #111111;
  --color-text-people: #151515;
  --color-text-btn-gray: #4C4C4C;
  --color-text-btn-white: #FFFFFF;
  --color-text-btn-black: #111111;
  --color-text-btn-blue: #FFFFFF;
  --color-text-btn-blue-hover: #17192B;
  --color-text-btn-gray: #111111;
  --color-text-btn-gray-hover: #FFFFFF;
  --color-lines-beaver: #9e7f66;
  --color-background-shuttleGray: #5C6779; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  list-style: none outside none;
  text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: inherit; }

a {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll; }

#clearfix::after {
  content: "";
  clear: both;
  display: table; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  overflow-x: hidden; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.headingXlrg {
  font-family: 'Spartan', sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.4px; }

.headingXlrgBold {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.4px; }

.headingLrg {
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.225px; }

.headingMedium {
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4C4C4C; }

.summary {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.1875px;
  text-align: center;
  color: var(--color-text-ebonyClay); }

.footerTxt {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.bookTableTxt {
  font-family: 'Spartan', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: var(--color-text-btn-white); }

.headerImgContainer {
  grid-row: 1 / 2;
  grid-column: full-start / full-end; }
  .headerImgContainer__image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 74rem;
    opacity: 95%; }
  .headerImgContainer__imageTablet {
    display: none; }
  .headerImgContainer__imageDesktop {
    display: none; }

.headerContainer {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  background: var(--color-background-codGray);
  z-index: 100; }
  .headerContainer__since1989 {
    text-align: center;
    margin: 3.2rem auto 2.4rem auto;
    color: #FFFFFF; }
  .headerContainer__missionStatement {
    display: block;
    text-align: center;
    margin: 0 2.4rem 3.2rem 2.4rem;
    color: #FFFFFF; }

.footerContainer {
  grid-row: 8 / 9;
  grid-column: full-start / full-end;
  background: var(--color-background-codGray);
  color: var(--color-text-white); }
  .footerContainer__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footerContainer__inner-locationWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;
      margin: 4rem; }
    .footerContainer__inner-timeWrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center; }

.indexContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: minmax(auto, 22rem) minmax(auto, 52.4rem) repeat(2, minmax(auto, 68.3rem)) minmax(auto, 179.2rem) minmax(auto, 104rem) minmax(auto, 32.8rem) minmax(auto, 44rem);
  grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem) [col-end]) [center-end] auto [full-end]; }

.summContainerOne {
  grid-row: 3 / 4;
  grid-column: full-start / full-end; }

.summOneWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  margin: 0 5% 0 5%; }
  .summOneWrapper__enjoyablePlace {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
    margin: 0 5% 0 5%;
    width: 90%;
    height: 40rem;
    position: absolute;
    top: -7rem;
    z-index: 100; }
  .summOneWrapper__enjoyablePlaceTablet {
    display: none; }
  .summOneWrapper__enjoyablePlaceDesktop {
    display: none; }

.txtWrapperEnjoy {
  display: flex;
  flex-direction: column;
  align-content: center; }
  .txtWrapperEnjoy__enjoyableHeading {
    display: block;
    text-align: center;
    color: var(--color-text-ebonyClay);
    margin: 40rem 0 1.6rem 0; }

.summContainerTwo {
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  margin-top: 8rem; }

.summTwoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 90%;
  margin: 0 5% 0 5%; }
  .summTwoWrapper__localFood {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
    margin: 0 5% 0 5%;
    width: 90%;
    height: 40rem;
    position: absolute;
    top: -7rem;
    z-index: 100; }
  .summTwoWrapper__localFoodTablet {
    display: none; }
  .summTwoWrapper__localFoodDesktop {
    display: none; }

.txtWrapperLocal__localHeading {
  display: block;
  text-align: center;
  color: var(--color-text-ebonyClay);
  margin: 40rem 0 1.6rem 0; }

.txtWrapperLocal {
  display: flex;
  flex-direction: column;
  align-content: center; }

.menuContainer {
  grid-row: 5 / 6;
  grid-column: full-start / full-end;
  margin-top: 8rem;
  background: var(--color-background-codGray);
  z-index: 100; }

.menuWrapper {
  height: 100%;
  display: flex;
  flex-direction: column; }

.menuHeadingWrapper {
  margin: 0 2rem 6.4rem 2rem;
  text-align: center; }
  .menuHeadingWrapper__divideLine {
    margin-top: 7.2rem; }
  .menuHeadingWrapper__highLightsHeading {
    margin: 3.2rem 0 1.6rem 0;
    color: var(--color-text-white); }
  .menuHeadingWrapper__txt {
    display: flex;
    margin: 0 0 6.4rem 0;
    color: var(--color-text-white); }

.salmonWrapper {
  display: flex;
  flex-direction: column; }
  .salmonWrapper__salmon {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 5% 0 5%;
    width: 90%;
    height: 24.5rem; }
  .salmonWrapper__salmonTabDesktop {
    display: none; }
  .salmonWrapper__inner-heading {
    color: var(--color-text-white);
    margin: 3.2rem 0 .4rem 0; }
  .salmonWrapper__inner-txt {
    color: var(--color-text-white);
    margin: 0 auto 0 auto;
    width: 90%;
    display: block;
    text-align: center; }

.filetWrapper {
  display: flex;
  flex-direction: column; }
  .filetWrapper__filet {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 5% 0 5%;
    width: 90%;
    height: 24.5rem; }
  .filetWrapper__filetTabDesktop {
    display: none; }
  .filetWrapper__inner-heading {
    color: var(--color-text-white);
    margin: 3.2rem 0 .4rem 0; }
  .filetWrapper__inner-txt {
    color: var(--color-text-white);
    margin: 0 auto 0 auto;
    width: 90%;
    display: block;
    text-align: center; }

.mousseWrapper {
  display: flex;
  flex-direction: column; }
  .mousseWrapper__mousse {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 5% 0 5%;
    width: 90%;
    height: 24.5rem; }
  .mousseWrapper__mousseTabDesktop {
    display: none; }
  .mousseWrapper__inner {
    margin-bottom: 7.2rem; }
    .mousseWrapper__inner-heading {
      color: var(--color-text-white);
      margin: 3.2rem 0 .4rem 0; }
    .mousseWrapper__inner-txt {
      color: var(--color-text-white);
      margin: 0 auto 0 auto;
      width: 90%;
      display: block;
      text-align: center; }

.cateringContainer {
  grid-row: 6 / 7;
  grid-column: full-start / full-end; }
  .cateringContainer__inner-imageDesktop {
    display: none; }
  .cateringContainer__inner-imageTablet {
    display: none; }
  .cateringContainer__inner-image {
    display: block;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
    margin: 8rem 5% 4.8rem 5%;
    width: 90%;
    max-height: 40rem; }

.sliderContainers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11.6rem;
  margin-bottom: 2.4rem;
  order: 1; }

.contentWrapper {
  display: flex;
  flex-direction: column;
  text-align: center; }
  .contentWrapper__gatheringHeading {
    margin: 0 0 1.6rem 0;
    order: 2; }
  .contentWrapper__txt {
    width: 85%;
    margin: 0 auto 0 auto;
    order: 3; }

.reservationContainer {
  position: relative;
  grid-row: 7 / 8;
  grid-column: full-start / -1; }
  .reservationContainer__heading {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 8rem auto 2.4rem auto;
    color: var(--color-text-white); }
  .reservationContainer__image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    width: 100%; }
  .reservationContainer__imageTablet {
    display: none; }
  .reservationContainer__imageDesktop {
    display: none; }

.bookingContainer {
  display: grid;
  background: var(--color-background-white);
  grid-template-rows: minmax(auto, 60rem) minmax(auto, 53rem) minmax(auto, 44rem);
  grid-template-columns: [full-start] min(2.4rem) [center-start] repeat(2, [col-start] minmax(10.75rem, auto) [col-end]) [center-end] min(2.4rem) [full-end]; }

.bookingRowOne {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  position: relative; }
  .bookingRowOne__image {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    width: 100%; }

.rowOneWrapper {
  position: absolute;
  top: 5.25rem;
  text-align: center; }
  .rowOneWrapper__header {
    color: var(--color-text-white); }
  .rowOneWrapper__txt {
    display: flex;
    color: var(--color-text-white);
    margin: 1.6rem 1.75rem 2.4rem 1.75rem; }

.bookingRowTwo {
  grid-row: 2 / 3;
  grid-column: center-start / center-end; }

.svgContainer {
  display: none; }
  .svgContainer__curve {
    display: none;
    position: absolute; }
  .svgContainer__lines {
    display: none;
    position: absolute; }

.forumContainer {
  position: absolute;
  top: 45rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 58.5rem;
  width: 32.7rem;
  background: var(--color-background-white); }

.inputWrapperTop {
  display: flex;
  flex-direction: column; }
  .inputWrapperTop__placehold {
    display: block;
    height: 4.5rem;
    width: 90%;
    width: 263px;
    margin: 3.2rem auto 0 auto;
    border-bottom: 1px solid #8E8E8E;
    font-family: 'Spartan', sans-serif;
    color: #111111;
    opacity: 0.5;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -.22px; }
  .inputWrapperTop__placehold:focus {
    opacity: 1; }

.inputWrapperMid {
  margin: 3.2rem 19.2rem 0 3.2rem;
  width: 263px; }
  .inputWrapperMid__txt {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.225px;
    color: #111111; }
  .inputWrapperMid__row {
    display: flex;
    flex-wrap: nowrap;
    margin: .8rem auto 3.2rem 0;
    height: 45px; }
    .inputWrapperMid__row-placehold {
      text-align: center;
      font-family: 'Spartan', sans-serif;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.225px;
      color: #111111;
      opacity: 0.5; }
      .inputWrapperMid__row-placehold--month, .inputWrapperMid__row-placehold--day {
        width: 7.3rem;
        border-bottom: 1px solid #8E8E8E;
        margin-right: 1.4rem; }
      .inputWrapperMid__row-placehold--year {
        width: 8.8rem;
        border-bottom: 1px solid #8E8E8E; }
      .inputWrapperMid__row-placehold--month:focus, .inputWrapperMid__row-placehold--day:focus, .inputWrapperMid__row-placehold--year:focus {
        opacity: 1; }

.inputWrapperBot {
  margin: 3.2rem 19.2rem 0 3.2rem;
  width: 263px; }
  .inputWrapperBot__txt {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.225px;
    color: #111111; }
  .inputWrapperBot__row {
    display: flex;
    flex-wrap: nowrap;
    margin: .8rem auto 3.2rem 0;
    height: 45px; }
    .inputWrapperBot__row-placehold {
      text-align: center;
      font-family: 'Spartan', sans-serif;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.225px;
      color: #111111; }
      .inputWrapperBot__row-placehold--hour, .inputWrapperBot__row-placehold--minute {
        width: 7.3rem;
        border-bottom: 1px solid #8E8E8E;
        margin-right: 1.4rem;
        opacity: 0.5; }
      .inputWrapperBot__row-placehold--hour:focus, .inputWrapperBot__row-placehold--minute:focus {
        opacity: 1; }
      .inputWrapperBot__row-placehold--amPM {
        position: relative;
        width: 8.8rem;
        border-bottom: 1px solid #8E8E8E; }
      .inputWrapperBot__row-placehold--arrow {
        position: absolute;
        right: 3.65rem;
        bottom: 22.55rem;
        height: 8px;
        width: 16px; }

@media only screen and (min-width: 768px) {
  .headingXlrg {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.6px; }

  .headingXlrgBold {
    font-size: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.5px; }

  .summary {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.22px; } }
@media only screen and (min-width: 1400px) {
  .headingXlrg {
    font-size: 6.4rem;
    line-height: 72px;
    letter-spacing: -0.8px; }

  .summary {
    text-align: left; } }
@media only screen and (min-width: 768px) {
  .headerContainer__missionStatement {
    margin: 0 10rem 3.2rem 10rem; }

  .headerImgContainer__image {
    display: none; }
  .headerImgContainer__imageTablet {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-height: 74rem;
    opacity: 95%; } }
@media only screen and (min-width: 1024px) and (orientation: landscape) {
  .indexContainer {
    grid-template-rows: minmax(auto, 30rem) minmax(auto, 80rem) repeat(2, minmax(68.3rem, auto)) minmax(auto, 110.5rem) minmax(auto, 104rem) minmax(auto, 27.2rem) minmax(auto, 32.8rem) !important; }

  .headerImgContainer__imageTablet {
    max-height: 110rem; }

  .headerContainer__missionStatement {
    margin: 0 22rem 3.2rem 22rem; } }
@media only screen and (min-width: 1400px) {
  .headerContainer {
    grid-row: 1 / 2;
    grid-column: full-start / 5;
    z-index: 300; }
    .headerContainer__since1989 {
      text-align: left;
      margin: 15.3rem 0 2.4rem 16.5rem;
      width: 53rem; }
    .headerContainer__missionStatement {
      text-align: left;
      margin: 0 0 4.2rem 16.5rem;
      width: 44.5rem; }

  .headerImgContainer {
    grid-column: full-start / full-end;
    grid-row: 1 / 2;
    z-index: 200; }
    .headerImgContainer__image {
      display: none; }
    .headerImgContainer__imageTablet {
      display: none; }
    .headerImgContainer__imageDesktop {
      display: block;
      width: 100%;
      opacity: .99;
      height: 100%; } }
@media only screen and (max-device-width: 767px) and (orientation: landscape) {
  .salmonWrapper__salmon,
  .filetWrapper__filet,
  .mousseWrapper__mousse {
    margin: 0 14.10% 0 14.10%;
    width: 70%; }

  .txtWrapperEnjoy__enjoyableHeading {
    margin: 40rem 8rem 1.6rem 8rem; }

  .txtWrapperLocal__localHeading {
    margin: 40rem 8rem 1.6rem 8rem; }

  .summary {
    margin: 0 5rem 0 5rem; }

  .menuHeadingWrapper__highLightsHeading {
    margin: 3.2rem 8rem 1.6rem 8rem; } }
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .indexContainer {
    grid-template-rows: minmax(auto, 30rem) minmax(auto, 61.4rem) repeat(2, minmax(auto, 68.3rem)) minmax(auto, 100.5rem) minmax(auto, 104rem) minmax(auto, 32.8rem) minmax(auto, 44rem); }

  .menuHeadingWrapper__highLightsHeading {
    margin: 3.2rem 19.2rem 1.6rem 19.2rem; }

  .menuHeadingWrapper__txt {
    margin: 0 13rem 5.6rem 13rem; } }
@media only screen and (min-width: 768px) {
  .indexContainer {
    grid-template-rows: minmax(auto, 30rem) minmax(auto, 61.4rem) repeat(2, minmax(68.3rem, auto)) minmax(auto, 110.5rem) minmax(auto, 104rem) minmax(auto, 27.2rem) minmax(auto, 32.8rem); }

  .summContainerOne__inner {
    position: relative;
    width: 573px;
    margin: auto; }

  .summContainerTwo__inner {
    position: relative;
    width: 573px;
    margin: auto; }

  .summOneWrapper {
    position: static;
    align-items: center; }
    .summOneWrapper__enjoyablePlace {
      display: none; }
    .summOneWrapper__enjoyablePlaceTablet {
      display: block;
      box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
      width: 573px;
      position: absolute;
      top: -7rem;
      z-index: 100; }
    .summOneWrapper__enjoyablePlaceDesktop {
      display: none; }
    .summOneWrapper__enjoyableHeading {
      margin: 40rem 0 1.6rem 0; }

  .summTwoWrapper {
    align-items: center; }
    .summTwoWrapper__localFood {
      display: none; }
    .summTwoWrapper__localFoodTablet {
      display: block;
      box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
      width: 573px;
      position: absolute;
      top: -7rem;
      z-index: 100; }
    .summTwoWrapper__localFoodDesktop {
      display: none; }

  .menuHeadingWrapper {
    margin: 0 10% 0 10%; }
    .menuHeadingWrapper__divideLine {
      margin-top: 9.6rem; }
    .menuHeadingWrapper__highLightsHeading {
      margin: 3.2rem 13.2rem 1.6rem 13.2rem; }
    .menuHeadingWrapper__txt {
      display: flex;
      margin: 0 8rem 5.6rem 8rem; }

  .salmonWrapper {
    flex-direction: row; }
    .salmonWrapper__salmon {
      display: none; }
    .salmonWrapper__salmonTabDesktop {
      display: block;
      width: 12.8rem;
      height: 9.6rem;
      margin: 0 6.2rem 2.4rem 9.7rem; }
    .salmonWrapper__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 52%; }
      .salmonWrapper__inner-heading {
        margin: 0; }
      .salmonWrapper__inner-txt {
        margin: 0;
        text-align: left; }

  .filetWrapper {
    flex-direction: row; }
    .filetWrapper__filet {
      display: none; }
    .filetWrapper__filetTabDesktop {
      display: block;
      width: 12.8rem;
      height: 9.6rem;
      margin: 0 6.2rem 2.4rem 9.7rem; }
    .filetWrapper__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 52%; }
      .filetWrapper__inner-heading {
        margin: 0; }
      .filetWrapper__inner-txt {
        margin: 0;
        text-align: left; }

  .mousseWrapper {
    flex-direction: row; }
    .mousseWrapper__mousse {
      display: none; }
    .mousseWrapper__mousseTabDesktop {
      display: block;
      width: 12.8rem;
      height: 9.6rem;
      margin: 0 6.2rem 2.4rem 9.7rem; }
    .mousseWrapper__inner {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 52%;
      margin-bottom: 7.2rem; }
      .mousseWrapper__inner-heading {
        margin: 0; }
      .mousseWrapper__inner-txt {
        margin: 0;
        text-align: left; }

  .cateringContainer__inner {
    position: relative;
    width: 573px;
    margin: auto; }
    .cateringContainer__inner-image {
      display: none; }
    .cateringContainer__inner-imageDesktop {
      display: none; }
    .cateringContainer__inner-imageTablet {
      display: block;
      box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
      margin: 12rem auto 5.6rem auto;
      width: 573px;
      z-index: 100; }

  .sliderContainers {
    flex-direction: row;
    justify-content: space-around;
    min-width: 60rem;
    height: inherit;
    margin: 0 auto 4rem auto; }

  .contentWrapper {
    margin: auto; }
    .contentWrapper__txt {
      width: 65%; }

  .reservationContainer__image {
    display: none; }
  .reservationContainer__imageDesktop {
    display: none; }
  .reservationContainer__imageTablet {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    width: 100%; } }
@media only screen and (min-width: 1400px) {
  .indexContainer {
    grid-template-rows: minmax(auto, 82rem) repeat(2, minmax(auto, 70rem)) minmax(auto, 76rem) minmax(auto, 92rem) repeat(2, minmax(auto, 24rem)) !important;
    grid-template-columns: [full-start] min(16.5rem) [center-start] repeat(10, [col-start] minmax(10.75rem, auto) [col-end]) [center-end] min(16.5rem) [full-end]; }

  .summContainerOne {
    grid-row: 2 / 3;
    grid-column: center-start / center-end; }
    .summContainerOne__inner {
      margin: 0; }

  .summOneWrapper {
    width: 100%;
    flex-direction: row;
    margin: 0; }
    .summOneWrapper__enjoyablePlace {
      display: none; }
    .summOneWrapper__enjoyablePlaceTablet {
      display: none; }
    .summOneWrapper__enjoyablePlaceDesktop {
      position: absolute;
      top: -7rem;
      display: block;
      height: 720px;
      width: 540px;
      z-index: 300; }

  .txtWrapperEnjoy {
    flex-direction: column;
    margin-left: 66rem; }
    .txtWrapperEnjoy__enjoyableHeading {
      margin: 23.2rem 0 1.6rem 0;
      width: 40.5rem;
      text-align: left; }

  .summContainerTwo {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    margin-top: 10.5rem; }
    .summContainerTwo__inner {
      margin: 0 0 0 auto; }

  .summTwoWrapper {
    width: 100%;
    flex-direction: row; }
    .summTwoWrapper__localFoodPlace {
      display: none; }
    .summTwoWrapper__localFoodTablet {
      display: none; }
    .summTwoWrapper__localFoodDesktop {
      position: absolute;
      top: -7rem;
      display: block;
      height: 720px;
      width: 540px;
      z-index: 300; }

  .txtWrapperLocal {
    flex-direction: column;
    position: absolute;
    top: 18rem;
    right: 69rem;
    width: 45rem; }
    .txtWrapperLocal__localHeading {
      text-align: left;
      margin: 0 0 1.6rem 0; }

  .menuContainer {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    margin-top: 0;
    display: flex;
    flex-direction: row; }

  .menuHeadingWrapper {
    margin: 25.5rem 12rem 24rem 16.5rem;
    text-align: left;
    width: 64rem; }

  .menuHeadingWrapper > * {
    margin: 0; }

  .menuHeadingWrapper__divideLine {
    margin-bottom: 4.8rem; }

  .menuWrapper {
    margin: 25.5rem auto auto 0;
    height: inherit; }

  .salmonWrapper {
    align-items: center; }
    .salmonWrapper__salmonTabDesktop {
      margin: 0; }
    .salmonWrapper__inner {
      width: inherit;
      margin-left: 3rem; }

  .filetWrapper {
    align-items: center; }
    .filetWrapper__filetTabDesktop {
      margin: 0; }
    .filetWrapper__inner {
      width: inherit;
      margin-left: 3rem; }

  .mousseWrapper__mousseTabDesktop {
    margin: 0; }
  .mousseWrapper__inner {
    width: inherit;
    margin-left: 3rem; }

  .cateringContainer {
    grid-row: 5 / 6;
    grid-column: center-start / center-end;
    display: flex; }
    .cateringContainer__inner {
      position: relative;
      width: 540px;
      margin: auto 0 auto 0; }
      .cateringContainer__inner-image {
        display: none; }
      .cateringContainer__inner-imageTablet {
        display: none; }
      .cateringContainer__inner-imageDesktop {
        display: block;
        box-shadow: 0px 15px 0px rgba(237, 237, 237, 0.35);
        width: 540px;
        height: 600px;
        z-index: 100; }

  .contentWrapper {
    margin: 22.3rem auto 22.3rem 12.5rem;
    width: 44.5rem; }
    .contentWrapper__gatheringHeading {
      text-align: left; }
    .contentWrapper__txt {
      width: inherit;
      margin: 0; }

  .sliderContainers {
    flex-direction: column;
    margin: 7.8rem auto auto 0;
    height: 12rem;
    align-items: flex-start;
    order: 4; }

  .reservationContainer {
    grid-row: 6 / 7;
    grid-column: full-start / full-end; }
    .reservationContainer__heading {
      width: inherit;
      margin: 8rem auto 2.4rem 16.4rem; }
    .reservationContainer__image {
      display: none; }
    .reservationContainer__imageTablet {
      display: none; }
    .reservationContainer__imageDesktop {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      width: 100%; } }
@media only screen and (min-width: 768px) {
  .footerContainer {
    grid-row: 8 / 9;
    grid-column: full-start / full-end;
    background: var(--color-background-codGray);
    color: var(--color-text-white);
    display: flex;
    flex-direction: row; }
    .footerContainer__inner {
      margin-left: 12.9rem; }
      .footerContainer__inner-locationWrapper {
        text-align: left;
        margin: 0 0 3.2rem 0; }
      .footerContainer__inner-timeWrapper {
        text-align: left;
        margin: 0; }

  .footerLogo {
    margin: 6.4rem 0 auto 3.9rem; } }
@media only screen and (min-device-width: 1024px) and (orientation: landscape) {
  .footerContainer__inner {
    margin-left: 30%; } }
@media only screen and (min-width: 1400px) {
  .footerContainer {
    grid-row: 7 / 8;
    grid-column: full-start / full-end; }
    .footerContainer__inner {
      flex-direction: row;
      margin-left: 20%; }
      .footerContainer__inner-locationWrapper {
        margin: 0 12.4rem 3.2rem 0;
        width: inherit; }
      .footerContainer__inner-timeWrapper {
        width: 44.5rem;
        margin-bottom: 3.2rem; }

  .footerLogo {
    margin: 7.8rem 0 auto 16.5rem; } }

/*# sourceMappingURL=style.css.map */
