//Logo
.logo {
    display: block;
    margin: 1.2rem auto;
}

.footerLogo {
    display: block;
    margin: 8rem auto 0 auto;
}

//Buttons
.bookTableBtnHeader {
    @include bookTableBtn();
    border: 1px solid #ffffff;
}

.bookTableBtnSlider {
    @include bookTableBtn();
    background: var(--color-background-codGray);
}

.btnWrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0rem;
    z-index: 100;

    &__bookTableBtnReserv {
        @include bookTableBtn();
        margin-top: 18.4rem;
        background: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
    }
}

//Curves
.topLeftCurveSumm {
    display: none;
}

.botRightCurveSumm {
    display: none;
}

.topLeftCurveCater {
    display: none;
}

//Lines 
.divideLine { //Small divide line with circle
    display: block;
    position: absolute;
    top: 36.5rem;
    margin-left: calc(50% - 40px);
}

.hamburgerLinesSumm {
    display: none;
}

.hamburgerLinesCater {
    display: none;
}

.fullLineBreak { //Full width divide line
    display: block;
    margin: 2.4rem auto 2.4rem auto;
    width: 80%;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.15;
}

//Lines Media Queries
@media only screen and (min-device-width: 768px) {
    //Hamburger SVG
    .hamburgerLinesSumm {
        display: block;
        position: absolute;
        right: -8rem;
        top: 17rem;
        z-index: 1000;
    }

    .hamburgerLinesCater {
        display: block;
        position: absolute;
        left: -5.5rem;
        bottom: 32rem;
        z-index: 1000;
    }

    //Curve SVG
    .topLeftCurveSumm {
        display: block;
        position: absolute;
        left: -68.5rem;
        top: 12.25rem;
        border-radius: 100px 0px 0px 0px;
    }

    .botRightCurveSumm {
        display: block;
        grid-column: full-start / -1;
        position: absolute;
        left: 29.4rem;
        bottom: -11rem;
        border-radius: 100px 0px 0px 0px;
        overflow-x: hidden;
        z-index: -10;
    }

    .topLeftCurveCater {
        display: block;
        grid-column: full-start / -1;
        position: absolute;
        left: -51rem;
        bottom: 20rem;
        border-radius: 0px 100px 0px 0px;
        overflow-x: hidden;
        z-index: -10;
    }

    .divideLine { //Small divide line with circle
        margin-left: 0;
    }

    //Buttons
    .btnWrapper__bookTableBtnReserv {
        margin-top: 15rem;
    }
}

//Desktop
@media only screen and (min-device-width: 1400px) {
    .logo {
        margin: 6.5rem 0 0 16.7rem;
    }

    //Buttons
    .bookTableBtnHeader {
        margin: 0 0 19.8rem 16.5rem;
    }
}