//Logo
.logo { //Index Page
    display: block;
    margin: 1.2rem auto;
}

.bookingLogo { //Booking Page
    margin-bottom: 4rem;
}

.footerLogo { //Index Page
    display: block;
    margin: 8rem auto 0 auto;
}

//Buttons Index Page
.bookTableBtnHeader {
    @include bookTableBtn();
    border: 1px solid #ffffff;
}

.bookTableBtnHeader:hover {
    background: var(--btn-background-wht);
    color: var(--color-text-btn-black);
}

.bookTableBtnHeader:active {
    transform: scale(.95);
}

.bookTableBtnSlider {
    @include bookTableBtn();
    background: var(--color-background-codGray);
    order: 4;
}

.bookTableBtnSlider:hover {
    background: var(--btn-background-wht);
    color: var(--color-text-btn-black);
    border: 1px solid #111111;
}

.bookTableBtnSlider:active {
    transform: scale(.95);
}

.sliderContainers__sliderBtn {
    cursor: pointer;
    opacity: .5;
}

.sliderContainers__sliderBtn:hover {
    transform: scale(1.1);
}

.sliderContainers__sliderBtn.active {
    opacity: 1;
}

.btnWrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0rem;
    z-index: 100;

    &__bookTableBtnReserv {
        @include bookTableBtn();
        margin-top: 18.4rem;
        background: transparent;
        border: 1px solid #ffffff;
        color: var(--color-text-white);
    }

    &__bookTableBtnReserv:hover {
        background: var(--btn-background-wht);
        color: var(--color-text-btn-black);
    }

     &__bookTableBtnReserv:active {
        transform: scale(.95);
     }
}

//Buttons Booking Page
.homeBtnClear {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.75rem 0 0 1.75rem;
    border-bottom: solid 1px #ffffff;
}

.homeBtnClear:hover {
    transform: scale(1.1);
    border: solid 1px #ffffff;
    width: 7rem;
    height: 2.5rem;
}

.reserveBtnClear {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
    width: 24.5rem;
    margin: 2.4rem auto 0 auto;
    border: 1px solid #ffffff;
}

.reserveBtnClear:hover {
    background: var(--btn-background-wht);
    color: var(--color-text-btn-black);
}

.reserveBtnClear:active {
    transform: scale(.95);
}

.reserveBtnBlk {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
    width: 24.5rem;
    margin: 3.2rem auto 0 auto;
    background: var(--btn-background-blk);
}

.reserveBtnBlk:hover {
    color: var(--color-text-btn-black);
    background: var(--btn-background-wht);
    border: 1px solid #111111;
}

.reserveBtnBlk:active {
    transform: scale(.95);
}

//Expand Arrow Booking Page

.AMCheckMark {
    display: none;
}

.AMCheckMark.active {
    display: inline-block;
}

.PMCheckMark {
    display: none;
}

.PMCheckMark.active {
    display: inline-block;
}

.amPMHide {
    display: none;
}

.amPMActive {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -11rem;
    right: .85rem;
    height: 10.3rem;
    width: 10.6rem;
    box-shadow: 0px 5px 10px 0px #888888;
    background: #ffffff;
    z-index: 300;

    &__row {
        cursor: pointer;
        text-align: center;
        height: 2.8rem;
        width: 6rem;
        font-family: 'Spartan', sans-serif;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.225px;
        color: #111111;
    }
}

//Form Validation
.margin {
    margin-left: 7rem;
}

.formControl {
    position: relative;
}

.formControl.success input {
    border-color: #2ecc71;
}

.formControl.error input {
    border-color: #B54949;
}

.formControl small {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.125px;
    color: #B54949;
    position: absolute;
    bottom: -1.75rem;
    left: 0rem;
    visibility: hidden;
}

.inputWrapperDate.formControl small {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: -0.125px;
    color: #B54949;
    position: absolute;
    bottom: -1.75rem;
    left: 0rem;
    visibility: hidden;
}

.inputWrapperDate.formControl.error small {
    visibility: visible;
}

.formControl.error small {
	visibility: visible;
}

//Curves
.topLeftCurveSumm {
    display: none;
}

.botRightCurveSumm {
    display: none;
}

.topLeftCurveCater {
    display: none;
}

//Lines 
.divideLine { //Small divide line with circle
    display: block;
    position: absolute;
    top: 36.5rem;
}

.hamburgerLinesSumm {
    display: none;
}

.hamburgerLinesCater {
    display: none;
}

.fullLineBreak { //Full width divide line
    display: block;
    margin: 2.4rem auto 2.4rem auto;
    width: 80%;
    height: 1px;
    background: var(--color-background-white);
    opacity: 0.15;
}

//Lines Media Queries
@media only screen and (min-width: 768px) {
    .bookingLogo {
        margin: 5.6rem 90% 6.4rem 3.9rem;
    }

    .reserveBtnClear {
        display: none;
    }

    //Hamburger SVG
    .hamburgerLinesSumm {
        display: block;
        position: absolute;
        right: -8rem;
        top: 17rem;
        z-index: 1000;
    }

    .hamburgerLinesCater {
        display: block;
        position: absolute;
        left: -5.5rem;
        bottom: 32rem;
        z-index: 1000;
    }

    //Curve SVG
    .topLeftCurveSumm {
        display: block;
        position: absolute;
        left: -68.5rem;
        top: 12.25rem;
        border-radius: 0px 100px 0px 0px;
    }

    .botRightCurveSumm {
        display: block;
        grid-column: full-start / -1;
        position: absolute;
        left: 29.4rem;
        bottom: -11rem;
        border-radius: 100px 0px 0px 0px;
        overflow-x: hidden;
        z-index: -10;
    }

    .topLeftCurveCater {
        display: block;
        grid-column: full-start / -1;
        position: absolute;
        left: -51rem;
        bottom: 20rem;
        border-radius: 0px 100px 0px 0px;
        overflow-x: hidden;
        z-index: -10;
    }

    .divideLine { //Small divide line with circle
        margin-left: 0;
    }

    //Buttons
    .btnWrapper__bookTableBtnReserv {
        margin-top: 15rem;
    }
}

//Desktop
@media only screen and (min-width: 1400px) {
    .logo {
        margin: 6.5rem 0 0 16.7rem;
    }

    .bookingLogo {
        margin: 6.5rem 90% 15.3rem .55rem;
    }

//Summary 
    .divideLineL {
        top: 20rem;
        left: 65rem;
    }

    .divideLineR {
        top: 14rem;
        right: 108.75rem;
    }

    .topLeftCurveSumm {
        left: -25rem;
        top: 25rem;
    }

    .botRightCurveSumm {
        left: -20rem;
        bottom: -59.5rem;
        border-radius: 100px 0px 0px 0px;
    }

    .hamburgerLinesSumm {
        top: 21rem;
    }

//Catering
    .topLeftCurveCater {
        bottom: 45rem;
    }

    .hamburgerLinesCater {
        bottom: 56rem;
    }

    .fullLineBreak { //Full width divide line
        margin: 2.4rem auto 2.4rem 0;
        width: 90%;
    }

    //Buttons
    .bookTableBtnHeader {
        margin: 0 0 19.8rem 16.5rem;
    }

    .bookTableBtnSlider {
        margin: 3.2rem auto 0 0;
    }

    .btnWrapper {
        width: inherit;
        height: inherit;
        bottom: 10rem;
        left: 105rem;
    }
}