//Logo
.logo {
    display: block;
    margin: 1.2rem auto;
}

.footerLogo {
    display: block;
    margin: 8rem auto 0 auto;
}

//Buttons
.bookTableBtnHeader {
    @include bookTableBtn();
    border: 1px solid #ffffff;
}

.bookTableBtnSlider {
    @include bookTableBtn();
    background: var(--color-background-codGray);
}

.btnWrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0rem;
    z-index: 100;

    &__bookTableBtnReserv {
        @include bookTableBtn();
        margin-top: 18.4rem;
        background: transparent;
        border: 1px solid #ffffff;
        color: #ffffff;
    }
}

//Lines 
.divideLine { //Small divide line with circle
    display: block;
    position: absolute;
    top: 36.5rem;
    margin-left: calc(50% - 40px);
}

.fullLineBreak { //Full width divide line
    display: block;
    margin: 0 auto 2.4rem auto;
    width: 32.7rem;
    height: 1px;
    background: #FFFFFF;
    opacity: 0.15;
}