//Background Image Properties
@mixin backgroundImageFull {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

@mixin backgroundImageDesktop {
    display: block;
    width: 100%;
}

@mixin summHeading {
    display: block;
    text-align: center;
    color: var(--color-text-ebonyClay);
}

@mixin imageSummary {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, .35);
    width: 32.7rem;
    height: 40rem;
}

@mixin imageSummaryTablet {
    display: block;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, .35);
    width: 573px;
    position: absolute;
    top: -7rem;
    z-index: 100;
}

@mixin imageMenu {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 32.7rem;
    height: 24.5rem;
}

@mixin imageMenuTabDesktop {
    display: block;
    width: 12.8rem;
    height: 9.6rem;
    margin: 0 6.2rem 2.4rem 9.7rem;
}

@mixin imageCatering {
    display: block;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, .35);
    margin: 8rem 5% 4.8rem 5%;
    width: 90%;
}

@mixin imageCateringTablet {
    display: block;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, .35);
    margin: 12rem auto 5.6rem auto;
    width: 573px;
    z-index: 100;
}

@mixin imageCateringDesktop {
    display: block;
    box-shadow: 0px 15px 0px rgba(237, 237, 237, .35);
    width: 540px;
    height: 600px;
    z-index: 100;
}

//Buttons 
@mixin bookTableBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6.4rem;
    width: 24.5rem;
    margin: 3.2rem auto 0 auto;
}

