:root {
    //BACKGROUNDS
        --color-background-white: #FFFFFF;
        --color-background-codGray: #111111; 
  
    //TEXT
        --color-text-white: #FFFFFF;
        --color-text-ebonyClay: #242B37;

    //FORMS
        --color-text-textField: #111111;
            //Error Field
            --color-text-error: #B54949;
        --color-text-dropDown: #111111;
        --color-text-people: #151515;
    
    //BUTTONS
    --color-text-btn-gray: #4C4C4C;
    --color-text-btn-white: #FFFFFF;
    --color-text-btn-black: #111111; // "cod gray 11111"
        //Blue Button
        --color-text-btn-blue: #FFFFFF; 
        --color-text-btn-blue-hover: #17192B; // "mirage 17192B"
        //Gray Button 
        --color-text-btn-gray: #111111;
        --color-text-btn-gray-hover: #FFFFFF;
    
    //COMPONENTS
    --color-lines-beaver: #9e7f66;
    --color-background-shuttleGray: #5C6779; 
    }