.footerContainer {
    grid-row: 8 / 9;
    grid-column: full-start / full-end;
    background: var(--color-background-codGray);
    color: var(--color-text-white);

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-locationWrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin: 4rem;
        }

        &-timeWrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin: 0 0 8rem 0;
        }
    }
}