
.headerImgContainer {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;

    &__image {
        @include backgroundImageFull();
        max-height: 74rem;
        opacity: 95%;
    }

    &__imageTablet {
        display: none;
    }

    &__imageDesktop {
        display: none;
    }
}

.headerContainer {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    background: var(--color-background-codGray);
    z-index: 100;

    &__since1989 {
        text-align: center;
        margin: 3.2rem auto 2.4rem auto;
        color: #FFFFFF;
    }
    
    &__missionStatement {
        display: block;
        text-align: center;
        margin: 0 2.4rem 3.2rem 2.4rem;
        color: #FFFFFF;
    }
}

