
.headerImgContainer {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;

    &__image {
        @include backgroundImageFull();
        max-height: 74rem;
        opacity: 95%;
    }
}

.headerContainer {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    background: var(--color-background-codGray);
    z-index: 100;
}

.since1989 {
    margin: 3.2rem auto 2.4rem auto;
    color: #FFFFFF;
}

.missionStatement {
    display: block;
    margin: 0 2.4rem 3.2rem 2.4rem;
    color: #FFFFFF;
}