//Heading's
.headingXlrg {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.4px;
}

.headingXlrgBold {
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.4px;
}

.headingLrg { 
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.225px;
}

.headingMedium {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #4C4C4C;
    // opacity: 0.5;
}

//Summary's
.summary {
    font-family: 'Spartan', sans-serif;
    font-size: 15px;
    line-height: 25px;  
    letter-spacing: -0.1875px;
    text-align: center;
    color: var(--color-text-ebonyClay);
}


//Footer Txt
.footerTxt {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

//Button Font
.bookTableTxt {
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    text-transform: uppercase;    
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    color: var(--color-text-btn-white);
}