
.indexContainer {
    display: grid;
    background: var(--color-background-white);
    grid-template-rows: minmax(auto, 22rem) minmax(auto, 52.4rem) repeat(2, minmax(auto, 68.3rem)) minmax(auto, 179.2rem) minmax(auto, 104rem) minmax(auto, 32.8rem) minmax(auto, 44rem);
    grid-template-columns: [full-start] auto [center-start] repeat(12, [col-start] minmax(min-content, 5rem)[col-end]) [center-end] auto [full-end];
}

.summContainerOne {
    grid-row: 3 / 4;
    grid-column: full-start / full-end;

    // &__inner {
    // }
}

.summOneWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 0 5% 0 5%;

    &__enjoyablePlace {
        @include imageSummary();
        position: absolute;
        top: -7rem;
        z-index: 100;
    }

    &__enjoyablePlaceTablet {
        display: none;
    }

    &__enjoyablePlaceDesktop {
        display: none;
    }
}

.txtWrapperEnjoy {
    display: flex;
    flex-direction: column;
    align-content: center;

    &__enjoyableHeading {
        @include summHeading();
        margin: 40rem 0 1.6rem 0;
    }
}

.summContainerTwo {
    grid-row: 4 / 5;
    grid-column: full-start / full-end;
    margin-top: 8rem;
}

.summTwoWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
    margin: 0 5% 0 5%;

    &__localFood {
        @include imageSummary();
        position: absolute;
        top: -7rem;
        z-index: 100;
    }

    &__localFoodTablet {
        display: none;
    }

    &__localFoodDesktop {
        display: none;
    }
}

.txtWrapperLocal__localHeading {
    @include summHeading();
    margin: 40rem 0 1.6rem 0;

}

.txtWrapperLocal {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.menuContainer {
    grid-row: 5 / 6;
    grid-column: full-start / full-end;
    margin-top: 8rem;
    background: var(--color-background-codGray);
    z-index: 100;
}

.menuWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menuHeadingWrapper {
    margin: 0 2rem 6.4rem 2rem;
    text-align: center;

    &__divideLine {
        margin-top: 7.2rem;
    }

    &__highLightsHeading {
        margin: 3.2rem 0 1.6rem 0;
        color: var(--color-text-white);
    }

    &__txt {
        display: flex;
        margin: 0 0 6.4rem 0;
        color: var(--color-text-white);
    }
}

.salmonWrapper {
    display: flex;
    flex-direction: column;

    &__salmon {
        @include imageMenu();
    }

    &__salmonTabDesktop {
        display: none;
    }

    &__inner {

        &-heading {
            color: var(--color-text-white);
            margin: 3.2rem 0 .4rem 0;
        }
    
        &-txt {
            color: var(--color-text-white);
            margin: 0 auto 0 auto;
            width: 90%;
            display: block;
            text-align: center;
        }
    }
}

.filetWrapper {
    display: flex;
    flex-direction: column;

    &__filet {
        @include imageMenu();
    }

    &__filetTabDesktop {
        display: none;
    }

    &__inner {

        &-heading {
            color: var(--color-text-white);
            margin: 3.2rem 0 .4rem 0;
        }
    
        &-txt {
            color: var(--color-text-white);
            margin: 0 auto 0 auto;
            width: 90%;
            display: block;
            text-align: center;
        }
    }
}

.mousseWrapper {
    display: flex;
    flex-direction: column;

    &__mousse {
        @include imageMenu();
    }

    &__mousseTabDesktop {
        display: none;
    }

    &__inner {
        margin-bottom: 7.2rem;

        &-heading {
            color: var(--color-text-white);
            margin: 3.2rem 0 .4rem 0;
        }
    
        &-txt {
            color: var(--color-text-white);
            margin: 0 auto 0 auto;
            width: 90%;
            display: block;
            text-align: center;
        }
    }
}

.cateringContainer {
    grid-row: 6 / 7;
    grid-column: full-start / full-end;

    &__inner {

        &-imageDesktop {
            display: none;
        }

        &-imageTablet {
            display: none;
        }

        &-image {
            @include imageCatering();
            max-height: 40rem;
        }
    }
}

.sliderContainers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11.6rem;
    margin-bottom: 2.4rem;
    order: 1;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;

    &__gatheringHeading {
        margin: 0 0 1.6rem 0;
        order: 2;
    }

    &__txt {
        width: 85%;
        margin: 0 auto 0 auto;
        order: 3;
    }
}

.reservationContainer {
    position: relative;
    grid-row: 7 / 8;
    grid-column: full-start / -1;

    &__heading {
        display: block;
        width: 100%;
        position: absolute;
        text-align: center;
        margin: 8rem auto 2.4rem auto;
        color: #ffffff;
    }

    &__image {
        @include backgroundImageFull();
        height: 100%;
        width: 100%;
    }

    &__imageTablet {
        display: none;
    }

    &__imageDesktop {
        display: none;
    }
}

