
@media only screen and (min-device-width: 768px) {

    .headerContainer {

        &__missionStatement {
            margin: 0 10rem 3.2rem 10rem;
        }
    }

    .headerImgContainer {

        &__image {
            display: none;
        }

        &__imageTablet {
            @include backgroundImageFull();
            max-height: 74rem;
            opacity: 95%;
        }
    }
}

@media only screen and (min-device-width: 1024px) and (orientation:landscape) {

    .indexContainer {
        grid-template-rows: minmax(auto, 30rem) minmax(auto, 80rem) repeat(2, minmax(68.3rem, auto)) minmax(auto, 110.5rem) minmax(auto, 104rem) minmax(auto, 27.2rem) minmax(auto, 32.8rem)!important;
    }
    
    .headerImgContainer__imageTablet {
        max-height: 110rem;
    }

    .headerContainer__missionStatement {
        margin: 0 22rem 3.2rem 22rem;
    }
}

//Desktop
@media only screen and (min-device-width: 1400px) {

    .headerContainer {
        grid-row: 1 / 2;
        grid-column: full-start / 5;
        z-index: 300;

        &__since1989 {
            text-align: left;
            margin: 15.3rem 0 2.4rem 16.5rem;
            width: 53rem;
        }

        &__missionStatement {
            text-align: left;
            margin: 0 0 4.2rem 16.5rem;
            width: 44.5rem;
        }
    }

    .headerImgContainer {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
        z-index: 200;    

        &__image {
            display: none;
        }

        &__imageTablet {
            display: none;
        }

        &__imageDesktop {
            @include backgroundImageDesktop();
            opacity: .99;
            height: 100%;
        }
    }

}