//Small Phone Landscape
@media only screen and (max-device-width: 767px) and (orientation: landscape) {
    //Images
    .salmonWrapper__salmon,
    .filetWrapper__filet,
    .mousseWrapper__mousse {
        margin: 0 14.10% 0 14.10%;
        width: 70%;
    }

    .headerContainer__missionStatement {
        margin: 0 10rem 3.2rem 10rem;
    }

    .summOneWrapper__enjoyableHeading {
        margin: 40rem 8rem 1.6rem 8rem;
    }

    .summTwoWrapper__enjoyableHeading {
        margin: 40rem 8rem 1.6rem 8rem;
    }

    .summOneWrapper__txt,
    .summTwoWrapper__txt {
        margin: 0 5rem 0 5rem;
    }

    .menuHeadingWrapper__highLightsHeading {
        margin: 3.2rem 8rem 1.6rem 8rem;
    }
}

//Large Phone Landscape
@media only screen and (min-device-width: 768px) and (orientation:landscape) {
    .indexContainer {
        grid-template-rows: minmax(auto, 30rem) minmax(auto, 61.4rem) repeat(2, minmax(auto, 68.3rem)) minmax(auto, 100.5rem) minmax(auto, 104rem) minmax(auto, 32.8rem) minmax(auto, 44rem);
    }

    .menuHeadingWrapper__highLightsHeading {
        margin: 3.2rem 19.2rem 1.6rem 19.2rem;
    }

    .menuHeadingWrapper__txt {
        margin: 0 13rem 5.6rem 13rem;
    }
}

//Tablet
@media only screen and (min-device-width: 768px) {

    .indexContainer {
        grid-template-rows: minmax(auto, 30rem) minmax(auto, 61.4rem) repeat(2, minmax(68.3rem, auto)) minmax(auto, 110.5rem) minmax(auto, 104rem) minmax(auto, 27.2rem) minmax(auto, 32.8rem);
    }

    .summOneWrapper {
        align-items: center;

    //Images 
        &__enjoyablePlace {
            display: none;
        }
    
        &__enjoyablePlaceTablet {
            @include imageSummaryTablet();
        }
    //Images END

        &__enjoyableHeading {
            margin: 40rem 14rem 1.6rem 14rem;
        }

        &__txt {
            margin: 0 12.5rem 0 12.5rem;
        }
    }

    .summTwoWrapper {
        align-items: center;

    //Images
        &__localFood {
            display: none;
        }
    
        &__localFoodTablet {
            @include imageSummaryTablet();
        }
    //Images END

        &__enjoyableHeading {
            margin: 40rem 14rem 1.6rem 14rem;
        }
    
        &__txt {
            margin: 0 12.5rem 0 12.5rem;
        }
    }

    //Menu 
    .menuHeadingWrapper {
        margin: 0 10% 0 10%;

        &__divideLine {
            margin-top: 9.6rem;
        }

        &__highLightsHeading {
            margin: 3.2rem 13.2rem 1.6rem 13.2rem;
        }

        &__txt {
            display: flex;
            margin: 0 8rem 5.6rem 8rem;
        }
    }

    .salmonWrapper {
        flex-direction: row;


        &__salmon {
            display: none;
        }
    
        &__salmonTabDesktop {
            @include imageMenuTabDesktop();
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 52%;

            &-heading {
                margin: 0;
            }

            &-txt {
                margin: 0;
                text-align: left;
            }
        }
    }

    .filetWrapper {
        flex-direction: row;
    
        &__filet {
            display: none;
        }

        &__filetTabDesktop {
            @include imageMenuTabDesktop();
        }
    
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 52%;
    
            &-heading {
                margin: 0;
            }
        
            &-txt {
                margin: 0;
                text-align: left;
            }
        }
    }

    .mousseWrapper {
        flex-direction: row;

        &__mousse {
            display: none;
        }

        &__mousseTabDesktop {
            @include imageMenuTabDesktop();
        }
    
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 52%;
            margin-bottom: 7.2rem;
    
            &-heading {
                margin: 0;
            }
        
            &-txt {
                margin: 0;
                text-align: left;
            }
        }
    }

    .cateringContainer {

        &__inner {
            position: relative;
            width: 573px;
            margin: auto;

            &-image {
                display: none;
            }

            &-imageTablet {
                @include imageCateringTablet();
            }
        }
    }

    .sliderContainers {
        flex-direction: row;
        justify-content: space-around;
        height: inherit;
        margin-bottom: 4rem;
    }

    .contentWrapper { 
        margin: auto;
        width: 457px;
    }

    .reservationContainer {

        &__image {
            display: none;
        }
    
        &__imageTablet {
            @include backgroundImageFull();
            height: 100%;
            width: 100%;
        }
    }
}

@media only screen and (min-device-width: 1003px) and (orientation:landscape) {
    .headerContainer__missionStatement {
        margin: 0 15rem 3.2rem 15rem;
    }

    .summOneWrapper__enjoyableHeading,
    .summTwoWrapper__enjoyableHeading {
        margin: 40rem 27rem 1.6rem 27rem;
    }

    .summOneWrapper__txt,
    .summTwoWrapper__txt {
        margin: 0 22.5rem 0 22.5rem;
    }
}