//Small Phone Landscape
@media only screen and (max-device-width: 767px) and (orientation: landscape) {

    .txtWrapperEnjoy__enjoyableHeading  {
        margin: 40rem 8rem 1.6rem 8rem;
    }

    .txtWrapperLocal__localHeading  {
        margin: 40rem 8rem 1.6rem 8rem;
    }

    .summary {
        margin: 0 5rem 0 5rem;
    }

    .menuHeadingWrapper__highLightsHeading {
        margin: 3.2rem 8rem 1.6rem 8rem;
    }
}

//Large Phone Landscape
@media only screen and (min-width: 768px) and (orientation:landscape) {
    .indexContainer {
        grid-template-rows: minmax(auto, 30rem) minmax(auto, 61.4rem) repeat(2, minmax(auto, 68.3rem)) minmax(auto, 100.5rem) minmax(auto, 104rem) minmax(auto, 32.8rem) minmax(auto, 44rem);
    }

    .menuHeadingWrapper__highLightsHeading {
        margin: 3.2rem 19.2rem 1.6rem 19.2rem;
    }

    .menuHeadingWrapper__txt {
        margin: 0 13rem 5.6rem 13rem;
    }
}

//Tablet
@media only screen and (min-width: 768px) {

    .indexContainer {
        grid-template-rows: minmax(auto, 30rem) minmax(auto, 61.4rem) repeat(2, minmax(68.3rem, auto)) minmax(auto, 110.5rem) minmax(auto, 104rem) minmax(auto, 27.2rem) minmax(auto, 32.8rem);
    }

    .summContainerOne__inner { //For responsive SVGS
        position: relative;
        width: 573px;
        margin: auto;
    }

    .summContainerTwo__inner { //For responsive SVGS
        position: relative;
        width: 573px;
        margin: auto;
    }

    .summOneWrapper {
        position: static;
        align-items: center;

    //Images 
        &__enjoyablePlace {
            display: none;
        }
    
        &__enjoyablePlaceTablet {
            @include imageSummaryTablet();
        }

        &__enjoyablePlaceDesktop {
            display: none;
        }
    //Images END

        &__enjoyableHeading {
            margin: 40rem 0 1.6rem 0;
        }
    }

    .summTwoWrapper {
        align-items: center;

    //Images
        &__localFood {
            display: none;
        }
    
        &__localFoodTablet {
            @include imageSummaryTablet();
        }

        &__localFoodDesktop {
            display: none;
        }
    //Images END    
    }

    //Menu 
    .menuHeadingWrapper {
        margin: 0 10% 0 10%;

        &__divideLine {
            margin-top: 9.6rem;
        }

        &__highLightsHeading {
            margin: 3.2rem 13.2rem 1.6rem 13.2rem;
        }

        &__txt {
            display: flex;
            margin: 0 8rem 5.6rem 8rem;
        }
    }

    .salmonWrapper {
        flex-direction: row;


        &__salmon {
            display: none;
        }
    
        &__salmonTabDesktop {
            @include imageMenuTabDesktop();
        }

        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 52%;

            &-heading {
                margin: 0;
            }

            &-txt {
                margin: 0;
                text-align: left;
            }
        }
    }

    .filetWrapper {
        flex-direction: row;
    
        &__filet {
            display: none;
        }

        &__filetTabDesktop {
            @include imageMenuTabDesktop();
        }
    
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 52%;
    
            &-heading {
                margin: 0;
            }
        
            &-txt {
                margin: 0;
                text-align: left;
            }
        }
    }

    .mousseWrapper {
        flex-direction: row;

        &__mousse {
            display: none;
        }

        &__mousseTabDesktop {
            @include imageMenuTabDesktop();
        }
    
        &__inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 52%;
            margin-bottom: 7.2rem;
    
            &-heading {
                margin: 0;
            }
        
            &-txt {
                margin: 0;
                text-align: left;
            }
        }
    }

    .cateringContainer {

        &__inner {
            position: relative;
            width: 573px;
            margin: auto;

            &-image {
                display: none;
            }
            
            &-imageDesktop {
                display: none;
            }

            &-imageTablet {
                @include imageCateringTablet();
            }
        }
    }

    .sliderContainers {
        flex-direction: row;
        justify-content: space-around;
        min-width: 60rem;
        height: inherit;
        margin: 0 auto 4rem auto;
    }

    .contentWrapper { 
        margin: auto;

        &__txt {
            width: 65%;
        }
    }

    .reservationContainer {

        &__image {
            display: none;
        }

        &__imageDesktop {
            display: none;
        }
    
        &__imageTablet {
            @include backgroundImageFull();
            height: 100%;
            width: 100%;
        }
    }
}

//Desktop
@media only screen and (min-width: 1400px) {

    .indexContainer {
        grid-template-rows: minmax(auto, 82rem) repeat(2, minmax(auto,70rem)) minmax(auto, 76rem) minmax(auto, 92rem) repeat(2, minmax(auto, 24rem)) !important;

        grid-template-columns: [full-start] min(16.5rem) [center-start] repeat(10, [col-start] minmax(10.75rem, auto)[col-end]) [center-end] min(16.5rem) [full-end];
    }

//Summary One
    .summContainerOne {
        grid-row: 2 / 3;
        grid-column: center-start / center-end;

        &__inner {
            margin: 0;
        }
    }

    .summOneWrapper {
        width: 100%;
        flex-direction: row;
        margin: 0;

        //Images 
        &__enjoyablePlace {
            display: none;
        }
    
        &__enjoyablePlaceTablet {
            display: none;
        }

        &__enjoyablePlaceDesktop {
            position: absolute;
            top: -7rem;
            display: block;
            height: 720px;
            width: 540px;
            z-index: 300;
        }
    }

    .txtWrapperEnjoy {
        flex-direction: column;
        margin-left: 66rem;

        &__enjoyableHeading {
            margin: 23.2rem 0 1.6rem 0;
            width: 40.5rem;
            text-align: left;
        }
    }

//Summary Two
    .summContainerTwo {
        grid-row: 3 / 4;
        grid-column: center-start / center-end;
        margin-top: 10.5rem;

        &__inner {
            margin: 0 0 0 auto;
        }
    }

    .summTwoWrapper {
        width: 100%;
        flex-direction: row;
        // margin: 15.1rem 16.5rem 0 57rem;

        //Images 
        &__localFoodPlace {
            display: none;
        }
    
        &__localFoodTablet {
            display: none;
        }

        &__localFoodDesktop {
            position: absolute;
            top: -7rem;
            display: block;
            height: 720px;
            width: 540px;
            z-index: 300;
        }
    }

    .txtWrapperLocal {
        flex-direction: column;
        position: absolute;
        top: 18rem;
        right: 69rem;
        width: 45rem;

        &__localHeading {
            text-align: left;
            margin: 0 0 1.6rem 0;
        }
    }

//Menu Heading
    .menuContainer {
        grid-row: 4 / 5;
        grid-column: full-start / full-end;
        margin-top: 0;    
        display: flex;
        flex-direction: row;
    }

    .menuHeadingWrapper {
        margin: 25.5rem 12rem 24rem 16.5rem;
        text-align: left;
        width: 64rem;
    }

    .menuHeadingWrapper > * {
        margin: 0;
    }

    .menuHeadingWrapper__divideLine {
        margin-bottom: 4.8rem;
    }

//Menu Items
    .menuWrapper {
        margin: 25.5rem auto auto 0;
        height: inherit;
    }

    .salmonWrapper {
        align-items: center;

        &__salmonTabDesktop {
            margin: 0;
        }

        &__inner {
            width: inherit;
            margin-left: 3rem;
        }
    }

    .filetWrapper {
        align-items: center;

        &__filetTabDesktop {
            margin: 0;
        }

        &__inner {
            width: inherit;
            margin-left: 3rem;
        }
    }

    .mousseWrapper {

        &__mousseTabDesktop {
            margin: 0;
        }

        &__inner {
            width: inherit;
            margin-left: 3rem;
        }
    }

//Catering
    .cateringContainer {
        grid-row: 5 / 6;
        grid-column: center-start / center-end;
        display: flex;

        &__inner {
            position: relative;
            width: 540px;
            margin: auto 0 auto 0;

            &-image {
                display: none;
            }
            
            &-imageTablet {
                display: none;
            }

            &-imageDesktop {
                @include imageCateringDesktop();
            }
        }
    }

    .contentWrapper {
        margin: 22.3rem auto 22.3rem 12.5rem;
        width: 44.5rem;

        &__gatheringHeading {
            text-align: left;
        }

        &__txt {
            width: inherit;
            margin: 0;
        }
    }

    .sliderContainers {
        flex-direction: column;
        margin: 7.8rem auto auto 0;
        height: 12rem;
        align-items: flex-start;
        order: 4;
    }

//Reservation
    .reservationContainer {
        grid-row: 6 / 7;
        grid-column: full-start / full-end;

        &__heading {
            width: inherit;
            margin: 8rem auto 2.4rem 16.4rem;
        }

        &__image {
            display: none;
        }

        &__imageTablet {
            display: none;
        }
    
        &__imageDesktop {
            @include backgroundImageFull();
            height: 100%;
            width: 100%;
        }
    }
}