
@media only screen and (min-width: 768px) {

    .headingXlrg {
        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.6px;
    }

    .headingXlrgBold {
        font-size: 40px;
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    //Summary's
    .summary {
        font-size: 18px;
        line-height: 30px;  
        letter-spacing: -0.22px;
    }
}

//Desktop
@media only screen and (min-width: 1400px) {
    .headingXlrg {
        font-size: 6.4rem;
        line-height: 72px;
        letter-spacing: -0.8px;
    }

    .summary {
        text-align: left;
    }

}